
<html>
{{#if session.isAuthenticated}}
<ul>
<li {{ action "logout"}}>log out </li>

</ul>
 {{/if}}
<div class="limiter">
    <div class="container-login100" style="background-image: url('http://www.inspirations-travel.co.za/images/content/03_04_52-4232_banner.jpg');">
      <div class="wrap-login100">
        <form class="login100-form validate-form">
          <span class="login100-form-logo">
            <i class="zmdi zmdi-search"></i>
          </span>

          <span class="login100-form-title p-b-34 p-t-27">
            Enter the country
          </span>

          <div class="wrap-input100 validate-input" >
            <!--  {{input value=model.country class="input100" type="text" name="country" placeholder="country name"}} -->
               <select class="input100" prompt="choose a country" onchange={{action "setSelection" value="target.value"}}>
                    <option value="">Choose country--</option>
                {{#each model as |location|}}
                    <option value="{{location.country}}">{{location.country}}</option>
                {{/each}}
                 </select>
           
          </div>
         <div class="wrap-input100 validate-input" >
           <select class="input100" onchange={{action "setDuration" value="target.value"}}>
            <option value="">Choose no of days--</option>
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
           </select>
         </div>
          <div class="container-login100-form-btn">
            <button class="login100-form-btn" {{action "search" model }}>
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</html>