<ul>
<li {{ action "logout"}}>log out </li>

</ul>

 <div class="container-login100" style="background-image: url('http://www.inspirations-travel.co.za/images/content/03_04_52-4232_banner.jpg');">

<h3 style="font-family:fantasy;text-align:left;margin:12px"><b>Itinerary</b></h3>
<br>
<table style="border:1px solid black;border-collapse:collapse;margin-left:15%;width:70%" >

{{#each days as |day|}}
{{#if day.flag}}
   <tr style="font-family:serif;text-align:left; border:1px solid black;background:#40e0d0;color:white"><th><b>       Day {{day.day}}</b></th><th>            </th></tr> 
   
{{/if}}
<tr style="color:black">
  <td>
    {{#if day.isfullday}}
       <i> <b>Full day </b></i>
    {{else}}
        {{#if day.flag}}
        <i> <b>Morning to noon </b></i>
       {{else}}
        <i> <b>Afternoon to evening </b></i>
       {{/if}}
    {{/if}}
  </td>
   <td>         </td>
  </tr>
<tr style="">
   
  <td>{{day.location.spot}}</td>
   <td>                     </td>
  </tr>
  

 
{{/each}}
 </table>
<br>
 <div style="margin-left:10px;font-family:serif;font-size:16pt">
     <b>  Choose Accommadation :</b>
       <select onchange={{action "setAccomadation" value="target.value"}}>
                    <option value="">Choose accommadation--</option>
                {{#each accomadations as |accomadation|}}
                    <option value="{{accomadation.id}}">{{accomadation.name}} {{accomadation.price}}rs/day</option>
                {{/each}}
       </select>
           
 </div>
 </div>
<div align="center">
<button style="text-align:center" {{action "saveAction"}} class="btn btn-lg btn-success">Save Trip</button>
</div>


