<ul>
<li {{ action "logout"}}>log out </li>

</ul>
<h1>Spots</h1>
<h1>Remaining Duration: {{duration}} days</h1>
<table class="table">
<tr>
 <th>Name</th>
 <th>Duration</th>
</tr>
{{#each locations as |location|}}
<tr {{action "removeLocation" location}}>
  <td>{{location.spot}}</td>
  <td>{{location.duration}}</td>
  </tr>
{{/each}}
 </table>

<h1>Selected Spots</h1>
<table class="table">
<tr>
 <th>Name</th>
 <th>Duration</th>
</tr>
{{#each new_locations as |location|}}
<tr {{action "addLocation" location}}>
  <td>{{location.spot}}</td>
  <td>{{location.duration}}</td>
  </tr>
{{/each}}
 
 </table>
<div align="center">
<button style="text-align:center" {{action "nextAction"}} class="btn btn-sm btn-success">Next</button>
</div>